<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: links">

</head>
<body>

<div th:replace="fragments :: header"></div>

<div class="container marketing">

    <h2>
        <p th:if="${clientsName} != null" th:text="'Hello ' + ${clientsName} + ' :-)'"></p>
        <p th:if="${clientsName} == null">I don't know You</p>
    </h2>
    <div th:each="element : ${list}">
        <p th:text="${element}"></p>
    </div>

</div>

<div th:replace="fragments :: footer"></div>

</body>
</html>