<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Person Form Page</title>
</head>
<body>
    <form th:action="@{/personForm}" th:object="${person}" method="post">
        Name: <input type="text" name="name" th:field="*{name}">
        Surname: <input type="text" name="surname" th:field="*{surname}">
        Birth date: <input type="date" name="birthDate" th:field="*{birthDate}">
        <input type="submit">
    </form>
</body>
</html>